.title {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.scoreSummary {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.row {
  margin: 30px;
}

body {
  font-family: "Pacifico", cursive;
}
